<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="record-list">
      <ion-icon name="book-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="customer-list">
      <ion-icon name="people-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="merchant-list">
      <ion-icon name="cart-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="account">
      <ion-icon name="person-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
