<ion-header>
  <ion-toolbar>
    <ion-buttons *ngIf="sheet" slot="start">
      <ion-back-button>
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-back-button>
    </ion-buttons>
    <ion-title>Record List</ion-title>
    <app-qr-scanner *ngIf="!sheet" slot="end"></app-qr-scanner>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="refreshData($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list lines="full">
    <ion-list-header *ngIf="sheet" class="ion-no-padding">
      <ion-label class="ion-text-center">
        {{sheet.merchant.name}}
      </ion-label>
    </ion-list-header>
    <ion-item *ngFor="let record of recordList" button (click)="showDetail(record)">
      <ion-avatar>
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-avatar>
      <ion-label>
        <ion-grid>
          <ion-row>
            <ion-col class="text-medium">
              <ion-text class="ion-text-wrap">
                {{record.sheet.merchant.name}}
              </ion-text>
            </ion-col>
            <ion-col class="text-small ion-text-end">
              <ion-text color="medium">
                {{record.created|date:"d/M/yy"}}
              </ion-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="text-medium">
              <ion-text *ngIf="record.operation === 'credit'" color="success">
                R$ {{record.value}}
              </ion-text>
              <ion-text *ngIf="record.operation === 'debt'" color="danger">
                R$ {{record.value}}
              </ion-text>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<ion-fab *ngIf="!sheet" vertical="bottom" horizontal="end">
  <ion-fab-button>
    <ion-icon name="add-outline"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="top">
    <ion-fab-button data-label="Payment" (click)="newRecord('credit')">
      <ion-icon name="cash-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-button  data-label="Sale" (click)="newRecord('debt')">
      <ion-icon name="basket-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>
